@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Montserrat&family=Nanum+Gothic&display=swap');

/* VARIABLE */

$color-main: #d2dae2;
$color-dark: #272b30;
$color-blue: #3c40c6;
$color-form: #1e272e;
$color-after:#b5bdc5;
$color-bg: #ffffff;
$color-about: #d0d3d6a2;

$font-main: 'Dosis', sans-serif;
$font-citation: 'Nanum Gothis', sans-serif;


/* GLOBAL */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}



.section-title {
    position: relative;
    font-size: 28px;
    margin: 150px 0 40px 0;
    font-weight: 600;
    font-size: 40px;
    font-family: $font-main;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    width: 6%;
    height: 4px;
    background-color: $color-after;
}


/* SPLASH */

.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://i.postimg.cc/sXpQy6wC/Matt.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: $font-main;;
    letter-spacing: 1.2;
}

.splash i {
    font-size: 73px;
    background-color: $color-main;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 30%;
    color: #000;
}

.page-title {
    font-size: 60px;
    color: #fff;
    margin: 30px 0 0 0;
    position: relative;
    font-weight: normal;
    letter-spacing: 1.5;
    font-family: $font-main;
}

.page-title::after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 4px;
    background-color: $color-after;
    /* filter: brightness(80%); */
}

.blink {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    font-weight: 100;
    margin-left: -5px;
    font-size: 60px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}

.page-subtitle {
    color: #fff;
    font-size: 22px;
    opacity: 0.9;
}



/* INTRO */

.intro {
    background-color: $color-bg;
}

.intro p {
    width: 70%;
    margin: 130px auto;
    padding: 50px 0;
    font-size: 22px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    letter-spacing: 1.1;
    font-family: $font-citation;
    font-style: italic;
}


/* ABOUT */

.about {
    background-color: $color-bg;
    font-size: 18px;
    letter-spacing: 1.1;
    font-family: $font-main;
}

.about p {
    margin-top: 30px;
}


/* SKILLS */

.section-title {
    margin-bottom: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    position: relative;
}

.skill-image {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill.right .skill-image {
    right: 0;
}

.skill.right .skill-description {
    padding: 36px 55% 36px 0;
    text-align: right;
}

.skill.left .skill-description {
    padding: 36px 0 36px 55%;
    text-align: left;
}

.skill-description {
    font-family: $font-main;
}

.skill-description .skill-title {
    font-size: 33px;
    margin-top: -2px;
    margin-bottom: -5px;
}

.skill-description p {
    font-size: 18px;
    color: $color-dark;
}

.skill-title .skill-line {
    color: $color-after;
    font-weight: normal;
}

.skill-image img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
    cursor: pointer;
}

.skill-image img {
    transition: all 1s;
    filter: brightness(70%);
}



/* PORTFOLIO */

.portfolio li {
    position: relative;
    float: left;
    width: 33.3333%;
}

.row::before,
.row::after {
    clear: both;
    content: "";
    display: table;
}

.image-portfolio {
    /*position: absolute; ---> tutaj właściwość psuła galerię*/
    height: 280px;
    overflow: hidden;
}

.image-portfolio img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(75%);
   transition: all 0.5s;
   position: relative;
   display: block;
}

.image-portfolio img:hover {
    filter: brightness(100%);
}


/* CONTACT */

